<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-05-03T03:52:30Z</date>
	<key>WorkspacePath</key>
	<string>../../FRE 7831 Pair Trading.xcodeproj</string>
</dict>
</plist>
